{% if page.toc %}
<div class="toc">
    <div class="toc-sticky">
        {% for h1 in page.toc %}
            <div class="toc-item">
                <a class="subtext" href="#{{ h1.id }}">{{ h1.title }}</a>
            </div>
            {% if h1.children %}
                {% for h2 in h1.children %}
                    <div class="toc-item-child">
                        <a class="subtext" href="#{{ h2.id }}">- {{ h2.title }}</a>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}