{% set posts_section = get_section(path="_index.md") %}
{% set num_posts = posts_section | length %}
{% if num_posts > 1 %}
<nav class="paginav">
    {% if page.higher %}
    <a class="prev" href="{{ page.higher.permalink }}">
        <span class="nav-label">« Prev</span>
        <span class="nav-title">{{ page.higher.title }}</span>
    </a>
    {% else %}
    <div class="empty-nav"></div> {% endif %}

    {% if page.lower %}
    <a class="next" href="{{ page.lower.permalink }}">
        <span class="nav-label">Next »</span>
        <span class="nav-title">{{ page.lower.title }}</span>
    </a>
    {% else %}
    <div class="empty-nav"></div>
    {% endif %}
</nav>
{% endif %}